<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<br>
<div class="container row col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h3>Vehicle Details</h3>
        </div>
        <div class="card-body">
            <form action=""
                  method="get"
                  role="form"
                  th:action="@{/api/vehicle/frontend/details/registration/{registration}
                  (registration=${vehicleDetails.registrationNumber})}"
                  th:object="${vehicleDetails}">
                <h5>
                    <p>Id:<span th:text="${vehicleDetails.id}"></span></p>
                    <p>Registration number:<span th:text="${vehicleDetails.registrationNumber}"></span></p>
                    <p>VIN:<span th:text="${vehicleDetails.vehicleIdentificationNumber}"></span></p>
                    <p>Manufacturer:<span th:text="${vehicleDetails.manufacturer}"></span></p>
                    <p>Model:<span th:text="${vehicleDetails.model}"></span></p>
                    <p>Production Year:<span th:text="${vehicleDetails.productionYear}"></span></p>
                    <p>Mileage:<span th:text="${vehicleDetails.mileage}"></span></p>
                    <p>Engine Type:<span th:text="${vehicleDetails.engineType}"></span></p>
                    <p>GearboxType:<span th:text="${vehicleDetails.gearboxType}"></span></p>
                    <p>Additional Information::<span th:text="${vehicleDetails.additionalInformation}"></span></p>
                </h5>
            </form>
            <div class="mb-3">
                <a th:href="@{/api/vehicle/frontend/}">Back to Vehicles List</a>
            </div>
            <div class="mb-3">
                <a th:href="@{/api/vehicle/frontend/home}">Back to Home Page</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
