<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<br>
<div class="container row col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h3>Vehicle Details</h3>
        </div>
        <div class="card-body">
            <form action="" method="get" role="form"
                  th:action="@{/vehicles/details/registration/{registration}
                  (registration=${vehicleDetails.registrationNumber})}"
                  th:object="${vehicleDetails}">
                <h5>
                    <th:block>
                        Id: <span th:text="${vehicleDetails.id}"></span><br>
                        Registration number: <span th:text="${vehicleDetails.registrationNumber}"></span><br>
                        VIN: <span th:text="${vehicleDetails.vehicleIdentificationNumber}"></span><br>
                        Manufacturer: <span th:text="${vehicleDetails.manufacturer}"></span><br>
                        Model: <span th:text="${vehicleDetails.model}"></span><br>
                        Production Year: <span th:text="${vehicleDetails.productionYear}"></span><br>
                        Mileage: <span th:text="${vehicleDetails.mileage}"></span><br>
                        Engine Type: <span th:text="${vehicleDetails.engineType}"></span><br>
                        Gearbox Type: <span th:text="${vehicleDetails.gearboxType}"></span><br>
                        Additional Information: <span th:text="${vehicleDetails.additionalInformation}"></span><br>
                    </th:block>
                </h5>
            </form>
            <div class="mb-3">
                <a th:href="@{/vehicles/all-vehicles}">Back to Vehicles List</a>
            </div>
            <div class="mb-3">
                <a href="">Back to Home Page</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
